.body {
    flex: 0.8;
    /* background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1)); */
    background: linear-gradient(rgb(48 152 157 / 55%), rgb(116 52 52));
    height: 100vh;
    color: white;
    padding: 30px;
}